# VS Code
.vscode/
.history/

# Windows
Thumbs.db
desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node.js
node_modules/
npm-debug.log

# Logs
logs
*.log

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
